<!doctype html>
  <head>
    <title>Christmas Lights</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        $("#rainbow").click(function(){
          $.get("/rainbow");
        });
        $("#christmas").click(function(){
          $.get("/christmas");
        });
        $("#off").click(function(){
          $.get("/off");
        });
      });
    </script>
  </head>
  <body>
    <div id="page">
      <div id="header">
        <h1>Christmas Lights</h1>
      </div>
      <div id="buttons">
        <form  action="/" method="post">
          <button value="rainbow" id="rainbow">Rainbow</button>
          <button value="christmas" id="christmas">Christmas</button>
          <button value="off" id="off">Turn Off</button>
        </form>
      </div>
    </div>
  </body>
</html>
